:root {
    --background-color-rgba1: rgba(20, 20, 20, .85);
    /*rgba(8,48,78,.)*/
    --background-color-rgba2: rgba(0, 0, 0, 0);
    /*rgba(0,0,0,0)*/
    --background-color-rgba3: rgba(0, 0, 0, .3);
    /*rgba(0,0,0,.3)*/
    --background-color-rgba4: rgba(0, 0, 0, .6);
    /*rgba(0,0,0,.6)*/
    --background-color-rgba5: rgba(0, 0, 0, .55);
    /*rgba(8,48,78,.55)*/
    --background-color-rgba6: rgba(0, 0, 1, .9);
    /*rgba(8,48,78,.9)*/
    --background-color-rgba7: rgba(0, 0, 0, .7);
    /*rgba(8,58,78,.7)*/
    --background-color-rgba8: rgba(0, 0, 0, .9);
    /*rgba(8,58,78,.9)*/
    --background-color-rgba9: rgb(0, 0, 3);
    /*rgba(8,48,78)*/
    --background-color-rgba10: rgba(0, 0, 1, .9);
    /*rgba(8,48,78,.85)*/

    --background-color-rgba11: rgba(40, 40, 40, .9);

    --background-color-036: #111;
    --background-color-069: #000;
    --background-color-0e3d4e: #000;
    --background-color-08304e: #000;
    --background-color-222: #222;
    --background-color-262c32: #262c32;
    --background-color-b42e2e: #b42e2e;
    --background-color-e22: #e22;
    --background-color-ffce00: #eeeeef;
    --background-color-005684: rgba(0,83,116,.5);
    --background-color-017f01: rgba(1,150,1,.5);
    --border-color-036: #000;
    --border-color-069: #000;
    --border-color-20a8b1: #4d4c4c;
    --border-color-666: #666;
    --border-color-ffce00: #eeeeef;
    --border-color-0b314e: #111;
    --box-shadow-color-20a8b1: #20a8b1;
    --color-000: #000;
    --color-03dc03: #03dc03;
    --color-03fe03: #03fe03;
    --color-20a8b1: #eeeeef;
    --color-666: #666;
    --color-788: #788;
    --color-888: #888;
    --color-eee: #eeeeed;
    --color-ffcc00: #ffcc00;
    --color-ffce00: #eeeeef;
    --color-fff: #fff;

    --table-background-header: rgba(0, 0, 0, .85);/*rgba(25, 63, 95, 0.75);*/
    --table-background-odd: rgba(40, 40, 40, .85);/*rgba(8, 48, 78, 0.75);*/
    --table-background-even: rgba(20, 20, 20, .85);/*rgba(25, 63, 95, 0.75);*/
}

body {
    font-size: 12px;
}

body,
#map,
button {
    font-family: monospace, "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

#map {
    background-color: var(--background-color-0e3d4e);
}

#sidebar {
    background-color: var(--background-color-rgba6) !important;
    border-left: 1px solid var(--border-color-20a8b1);
    color: var(--color-888);
}

#sidebar > * {
    border-bottom: 1px solid var(--border-color-20a8b1);
}

#sidebartoggle {
    background-color: var(--background-color-rgba6);
    color: var(--color-ffce00);
    border: 1px solid var(--border-color-20a8b1);
}

#sidebartoggle .open {
    border-right: 10px solid var(--border-color-ffce00);
}

#sidebartoggle .close {
    border-left: 10px solid var(--border-color-ffce00);
}

a {
    color: var(--color-ffce00);
}

.fieldmu {
    color: var(--color-ffce00);
}

#chatcontrols {
    color: var(--color-ffce00);
    background: var(--background-color-rgba6) !important;
}


#chatcontrols a {
    border: 1px solid var(--border-color-20a8b1);
}

#chatcontrols a.active {
    border-color: var(--border-color-ffce00);
    background: var(--background-color-rgba9);
}

#chatcontrols a.active + a {
    border-left-color: var(--border-color-ffce00)
}

#chatcontrols .expand {
    border-bottom: 10px solid var(--border-color-ffce00);
}

#chatcontrols .shrink {
    border-top: 10px solid var(--border-color-ffce00);
}

#chatinput {
    background: var(--background-color-rgba6) !important;
    border: 1px solid var(--border-color-20a8b1);
}

#chat {
    background: var(--background-color-rgba6) !important;
    border: 1px solid var(--border-color-20a8b1);
}

#chat a {
    font-style: italic;
}

#chat td:first-child,
#chatinput td:first-child {
    width: 65px;
    font-size: 12px;
}

#chat td:nth-child(2),
#chatinput td:nth-child(2) {
    width: 100px;
}

#chatinput input {
    color: var(--color-ffce00);
    background: var(--background-color-rgba6);
    width: 100%;
    border-left: 1px solid var(--border-color-20a8b1);
}

.pl_nudge_date {
 display: inline-block;
 text-align: center;
 margin-left: -2px;
 padding-left: 1px;
 padding-right: 1px;
 border: 1px solid #ffd652;
}

.pl_nudge_pointy_spacer {
    display: none;
}

h2 {
    color: var(--color-ffce00);
}


h2 #name {
    width: 185px;
}

/* search input, and others */
input:not([type]),
.input,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="url"] {
    color: var(--color-ffce00);
}


#portaldetails .close {
    background-color: var(--background-color-rgba6);
    border-top: 1px solid var(--border-color-20a8b1);
    border-left: 1px solid var(--border-color-20a8b1);
    color: var(--color-ffce00);
}

#updatestatus {
    background-color: var(--background-color-rgba6);
    border-top: 1px solid var(--border-color-20a8b1);
    border-left: 1px solid var(--border-color-20a8b1);
    color: var(--color-ffce00);
    font-size: 11px;
}

#iitc-plugin-zoomLevel {
    border: 1px solid var(--border-color-20a8b1);
}

#loadlevel {
    border: 1px solid var(--border-color-20a8b1);
}

.ui-tooltip,
.ui-dialog {
    background-color: var(--background-color-rgba6);
    border: 1px solid var(--border-color-20a8b1);
}

.ui-tooltip,
.ui-dialog a {
    color: var(--color-ffce00);
}

.ui-dialog-titlebar {
    background-color: var(--background-color-rgba6);
}

.ui-dialog-title-active {
    color: var(--color-ffce00);
}

.ui-dialog-title {
    padding-right: 40px;
}

.ui-dialog-buttonpane {
    border-top: 1px solid var(--border-color-20a8b1);
}

.ui-dialog-buttonset button,
.ui-dialog-content button {
    color: var(--color-ffce00);
    border: 1px solid var(--border-color-ffce00);
    background-color: var(--background-color-rgba6);
}

.ui-dialog-content {
    max-height: 70vh !important;
    max-width: 90vw !important;
    overflow-x: auto;
}

.ui-dialog-titlebar-button, .ui-dialog-titlebar-button-collapse::after, .ui-dialog-titlebar-button-close::after, .ui-dialog-titlebar-button-close::before {
    border-color: var(--color-20a8b1);
}

.cellscore svg rect {
    fill: var(--background-color-08304e);
}

#portal_highlight_select {
    color: var(--color-ffce00);
}

table.artifact tr > * {
    background: var(--background-color-rgba6);
}

#map .leaflet-popup-content-wrapper {
    border: 1px solid var(--border-color-20a8b1);
    background: var(--background-color-0e3d4e);
}

#map .leaflet-popup-content {
    color: var(--color-ffce00);
}

.cellscore .ui-accordion-header,
.cellscore .ui-accordion-content {
    border: 1px solid var(--border-color-20a8b1);
}

.cellscore .ui-accordion-header {
    color: var(--color-ffce00);
}

.ui-tabs-nav {
    border-bottom: 1px solid var(--border-color-20a8b1);
}

.ui-tabs-nav li {
    border: 1px solid var(--border-color-20a8b1);
}

/** plugins style **/

/* bookmarks */

.bookmarksDialog .bookmarkFolder {
    border: 1px solid var(--border-color-20a8b1);
    background: var(--background-color-069);
    color: var(--color-fff);
}

#bkmrksSetbox a.disabled,
#bkmrksSetbox a.disabled:hover {
    color: var(--color-666);
    border-color: var(--border-color-666);
}

#bkmrksSetbox a {
    color: var(--color-ffce00);
    border: 1px solid var(--border-color-ffce00);
    background: var(--background-color-rgba6);
}

#bkmrksAutoDrawer a.bkmrk.selected {
    color: var(--color-03dc03);
}

#bkmrksAutoDrawer .longdistance {
    color: var(--color-ffcc00);
}

#bkmrksAutoDrawer .bookmarkFolder {
    border: 1px solid var(--border-color-20a8b1);
}

#bookmarksBox .bookmarkList .bookmarkFolder,
#bookmarksBox .bookmarkList .bookmarkFolder .folderLabel,
#bkmrksAutoDrawer .folderLabel {
    background: var(--background-color-069);
    color: var(--color-fff);
}

#bkmrksAutoDrawer .bookmarkFolder div {
    border-top: 1px solid var(--border-color-20a8b1);
    background: var(--background-color-rgba3);
}

#bookmarksBox * {
    font-family: monospace;
}

#bookmarksBox,
#bookmarksBox * {
    border-color: var(--border-color-20a8b1);
}

#bookmarksBox .bookmarkList .bookmarkFolder.open .folderLabel:hover > span > span {
    border-color: transparent var(--border-color-036) transparent transparent;
}

#bookmarksBox .bookmarkList .bookmarkFolder .folderLabel:hover .bookmarksAnchor,
#bookmarksBox .bookmarkList li.bkmrk:hover {
    background: var(--background-color-036);
}

#bookmarksBox .addForm,
#bookmarksBox #bookmarksTypeBar,
#bookmarksBox h5 {
    color: var(--color-888);
}
#bookmarksBox h5:hover {
    color: var(--color-ffce00);
    background: var(--background-color-rgba2);
}

#bookmarksBox #topBar,
#bookmarksBox .addForm,
#bookmarksBox #bookmarksTypeBar,
#bookmarksBox .bookmarkList li.bookmarksEmpty,
#bookmarksBox .bookmarkList li.bkmrk a {
    background-color: var(--background-color-rgba10)
}

#bookmarksBox .addForm input,
#bookmarksBox ul .bookmarksLink {
    color: var(--color--ffce00);
}
#bookmarksBox .addForm a {
    color: var(--color-20a8b1);
}

/* MPE */

.mpe select,
.mpe a {
    border: 1px solid var(--border-color-ffce00);
    background: var(--background-color-rgba9);
    color: var(--border-color-ffce00);
}

/* privacy */

#privacycontrols {
    background-color: var(--background-color-rgba6);
}

#privacycontrols a {
    width: inherit;
    border-color: var(--border-color-20a8b1);
}

/* linked portal */

.showLinkedPortalLink {
    background-color: var(--background-color-0e3d4e);
}

/* score cycle times */

#score_cycle_times_display * {
    color: var(--color-ffce00);
}

/* portals list */

#portalslist table td, #portalslist table th {
    border-bottom-color: var(--border-color-0b314e);
    background-color: var(--table-background-header);
}

#portalslist table tr.res td, #portalslist .filterRes {
    background-color: var(--background-color-005684);
}
#portalslist table tr.enl td, #portalslist .filterEnl {
    background-color: var(--background-color-017f01);
}


/* wasabee */
.wasabee-table>thead>tr {
    background-color: var(--table-background-header);
}
.wasabee-table>tbody>tr {
    background-color: var(--table-background-even);
}
.wasabee-table>tbody>tr:nth-child(2n+1) {
    background-color: var(--table-background-odd);
}

.wasabee-agent-menu, .wasabee-state-menu {
    display: grid;
}

.wasabee-agent-menu label, .wasabee-state-menu label {
    grid-column: 1;
    text-decoration: underline dotted;
    align-self: center;
}

.wasabee-state-menu select, .wasabee-agent-menu select {
    grid-column: 2;
    justify-self: end;
}

#dialog-wasabee-assign .desc, #dialog-wasabee-state .desc {
    line-height: 1.5em;
}


/* marker color */
.CapturePortalMarker {
  color: #38ff5d;
}
.LetDecayPortalAlert {
  color: #fffefe;
}
.DestroyPortalAlert {
  color: #f92722;
}
.FarmPortalMarker {
  color: #f17030;
}
.GotoPortalMarker {
  color: #e235a9;
}
.GetKeyPortalMarker {
  color: #78b32c;
}
.CreateLinkAlert {
  color: #65dba7;
}
.MeetAgentPortalMarker {
  color: #FDCA40;
}
.OtherPortalAlert {
  color: #dfc4da;
}
.RechargePortalAlert {
  color: #38bd90;
}
.UpgradePortalAlert {
  color: #7ddb42;
}
.UseVirusPortalAlert {
  color: #eb3cff;
}
.ExcludeMarker {
  color: #efff64;
}

.leaflet-popup-content-wrapper.wasabee-popup a.enl {
    color: #03fe03 !important;
}

.leaflet-popup-content-wrapper.wasabee-popup a.res {
    color: #00c5ff !important;
}

#map .leaflet-popup-content-wrapper.wasabee-popup {
    background-color: var(--background-color-0e3d4e) !important;
}

.wasabee-popup a {
    color: var(--color-ffce00);
}

.wasabee-popup button {
    color: var(--color-ffce00);
    border: 1px solid var(--border-color-ffce00);
    background-color: var(--background-color-rgba6);
    border-radius: 5px;
    padding: .375rem .75rem;
}


.wasabee-popup button:hover {
    background-color: var(--background-color-rgba11);
}

.wasabee-link-seperator:before {
    content: " ➤ ";
}

.wasabee-popup-assignment {
    color: var(--color-888);
}
