.wasabee-dialog-fanfield div.container {
  grid-template-columns: min-content auto auto;
}

.wasabee-dialog-homogeneous div.container {
  grid-template-columns: min-content auto auto auto;
}

.wasabee-dialog-homogeneous div.desc {
  grid-column: 1 / span 4;
}

.wasabee-dialog-link div.container {
  display: grid;
  grid-template-columns: min-content auto auto auto;
}

.wasabee-dialog-link button.drawb {
  height: auto;
}

.wasabee-dialog-madrid div.container {
   display: grid;
  grid-template-columns: min-content auto auto;
}

.wasabee-dialog-madrid div.desc {
  grid-column-end: 4;
   padding: 4px;
}

.wasabee-dialog-madrid span {
  grid-column: 3;
}

.wasabee-dialog-multimax div.container {
  grid-template-columns: min-content auto auto;
}

.wasabee-dialog-multimax div.desc {
  grid-column-end: 4;
  padding: 4px;
}

.wasabee-dialog-multimax span {
  grid-column: 3;
}

.wasabee-dialog-onion div.container {
  grid-template-columns: min-content auto auto;
}

.wasabee-dialog-onion div.desc {
  grid-column-end: 4;
}

.wasabee-dialog-onion span {
  grid-column: 3;
}

.wasabee-dialog-starburst div.container {
  grid-template-columns: min-content auto auto;
}

.wasabee-dialog-starburst div.anchor {
  grid-column: 3;
}

.wasabee-dialog-fanfield button.drawb,
.wasabee-dialog-madrid button.drawb,
.wasabee-dialog-multimax button.drawb,
.wasabee-dialog-onion button.drawb,
.wasabee-dialog-starburst button.drawb {
   grid-column: 3
}
