.wasabee-toolbar-op {
  background-image: url(../images/toolbar_viewOps.svg);
  background-size: 16px;
}
.wasabee-toolbar-quickdraw {
  background-image: url(../images/toolbar_quickdraw.svg);
  background-size: 16px;
}
.wasabee-toolbar-link {
  background-image: url(../images/toolbar_addlinks.svg);
  background-size: unset;
}
.wasabee-toolbar-marker {
  background-image: url(../images/toolbar_addMarkers.svg);
  background-size: unset;
}
.wasabee-toolbar-upload {
  background-image: url(../images/toolbar_upload.svg);
  background-size: unset;
}
.wasabee-toolbar-sync {
  background-image: url(../images/toolbar_download.svg);
  background-size: unset;
}

.wasabee-anchor-icon.wasabee-layer-main {
  background-image: url(../images/marker_layer_main.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupa {
  background-image: url(../images/marker_layer_groupa.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupb {
  background-image: url(../images/marker_layer_groupb.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupc {
  background-image: url(../images/marker_layer_groupc.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupd {
  background-image: url(../images/marker_layer_groupd.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupe {
  background-image: url(../images/marker_layer_groupe.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupf {
  background-image: url(../images/marker_layer_groupf.svg)
}