/* to be replaced with a new toolbar layout */
.wasabee-toolbar-op + .wasabee-actions {
  top: 26px !important;
}
.leaflet-touch .wasabee-toolbar-op + .wasabee-actions {
  top: 33px !important;
}

.wasabee-toolbar-quickdraw + .wasabee-actions {
  top: calc(2*26.65px) !important;
}
.leaflet-touch .wasabee-toolbar-quickdraw + .wasabee-actions {
  top: 64px !important;
}

.wasabee-toolbar-link + .wasabee-actions {
  top: calc(3*26.65px) !important;
}
.leaflet-touch .wasabee-toolbar-link + .wasabee-actions {
  top: 95px !important;
}

.wasabee-toolbar-marker + .wasabee-actions {
  top: calc(4*26.65px) !important;
}
.leaflet-touch .wasabee-toolbar-marker + .wasabee-actions {
  top: 126px !important;
}

.leaflet-touch .wasabee-actions {
  left: 32px !important;
}
