.leaflet-touch .wasabee-actions li {
  display: block;
  border-bottom: 1px solid transparent;
}

.leaflet-touch li.wasabee-subactions a {
	min-width: 50px;
	width: unset !important;
	padding-left: 8px;
	padding-right: 8px;
}
